name: test

on: [push]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Install adb
        run: sudo apt-get install -y adb linux-modules-extra-`uname -r`
      - run: sudo modprobe binder_linux devices="binder,hwbinder,vndbinder"
      - run: sudo modprobe ashmem_linux
      - run: docker run -d --name android --privileged --pull always -p 5555:5555 redroid/redroid:13.0.0-latest
      - run: sleep 30
      - run: docker logs android
      - run: adb connect localhost:5555 && adb devices
