name: test

on: [push]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Install adb
        run: sudo apt-get install -y adb
      - run: docker run --rm --privileged --pull always -p 5555:5555 redroid/redroid:13.0.0-latest
      - run: sleep 30
      - run: adb connect localhost:5555 && adb devices
